
.firstSection{
    width: 100%;
    height: 400px;
    background: var(--blue);
    padding: 2rem;
    overflow: hidden;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
        --blue: #2E3192;
    --lightblue: rgb(55, 55, 248);
    --grey: lightgray;
    display: flex;
    justify-content: space-between;
}

.firstSectionAbout{
    width: 100vw;
    height: 350px;
    padding: 2rem;
    overflow: hidden;
    color: #eee;
font-family: 'Montserrat', sans-serif;
    }

    .nextDivContainer{
        width: 100%;
        display: flex;
justify-content: center;
font-family: 'Montserrat', sans-serif;
text-align: center;
padding: 20px;
margin: 20px 0;
    }


.videoHolderContainer{
    width: 100%;
    justify-content: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin-top: 80px;
    align-items: center;

}
.videoText{
    width: 100%
}
.headingText{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.theText{
    width: 22rem;
    padding: 1rem;
}

.blue{
    color: var(--blue);
}

.videoHolder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuListAbout{
    color: var(--blue);
    float: right;
    display: flex;    
    font-size: 13px;
    gap: 3rem;
    font-weight: bolder;
    margin-right: 3rem;
    margin-top: -4rem;
}

.topLeftElements{
    width: 200px;
    height: 3rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottleImage{
    width: 2rem;
    height: 3rem;
}

.bottleImage {
    width: 100%;
    height: 100%;
}

.bottleText{
    width: 100%;
    font-size: 11px;
    width: 7rem;
}

.about{
       --blue: rgb(5, 5, 150);
    --lightblue: rgb(55, 55, 248);
    --grey: lightgray;
}

.girlAndBook{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.girlImage{
    width: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
}

.girlImage {
    width: 100%;
    height: 100%;
}

.heroText{
    font-size: 60px;
    text-align: center;
}

.girlText{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.facultiesHeading{
    font-size: 25px;
    text-align: center;
    width: 100vw;
     font-family: 'Montserrat', sans-serif;
     margin-top: 40px;
}
.secondSection {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;

}

.firstImageHolder{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.image{
    width: 600px;
    height: 300px;
    overflow: hidden;
    z-index: 2;
}

.image {
    width: 100%;
    height: 100%;
}

.greyBackground{
    background: var(--grey);
    width: 300px;
    height: 350px;
    z-index: 1;
    position: absolute;
    margin-left: -27rem;
    margin-top: -3rem;
}
.greyBox{
    background-color: #ccc;
    width: 500px;
    height: 500px; 
}

.greyDiv{
    background-color: #ccc;
    width: 400px;
    height: 400px;
}

.greyBox2{
    background: var(--grey);
    width: 80vw;
    height: 500px;
      margin-top: 50px;
}


.greyBox3{
    background: var(--grey);
    width: 400px;
    height: 500px;
      
}

.textHolderDiv{
    height: 700px;
    padding: 4rem;
    /* margin-top: 4rem; */
}

.textSectionStyle1 .textHolder{
    width:22rem;
    text-align: right;
      margin-top: .5rem;
    padding: .4rem;
}

.textSectionStyle2 .textHolder{
    width:22rem;
    text-align: right;
      margin-top: .5rem;
    padding: .4rem;
}

.textSectionStyle1{
    display: flex;
    gap: 5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
   font-family: 'Montserrat', sans-serif;
   margin: 50px 0 ;
}


.textSectionStyle2{
    display: flex;
    gap: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.textSectionStyle2 .textHolder {
    /* border-left: 6px solid red; */
    /* padding: .4rem; */
}
.headingfaculties1{
    border-right: 4px solid red;
    padding-right: 10px;
}
.headingfaculties2{
    border-left: 4px solid red;
    padding-left: 10px;
}

.textSectionStyle2 .textHolder {
    margin-top: .5rem;
     width:22rem;
    text-align: left;
}
.footer{
    width: 100%;
    height: auto;
    padding: 10px 40px;
    background-color: var(--blue);
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
font-family: 'Montserrat', sans-serif;
}
.footerDiv{
    background-color: var(--blue);
}

.bottom{
    width: 100%;
    gap: 3rem;
    height: auto;
    padding: 2rem;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    font-family: 'Montserrat', sans-serif;
}

.subscibeInput {
    /* background: var(--lightblue); */
    /* width: 200px; */
   
}
.footerTwoInput{
 color: black;
  border: none;
    outline: none;
}

.oneOfThree {
    font-size: 1rem;
    width: 10rem;
    font-weight: lighter;
    letter-spacing: .1rem;
    line-height: 1.4rem;
}


.subscribeInput{
    display: flex;
    
}
.footerTwoInput{
background-color:white;
width:250px;
height: 35px;

}
.footerLogo{
width: 350px
}
.FooterLink{
    margin-top:10px
}
.FooterWeblink{
    list-style: none;
    color: white;
    padding: 5px;
}

.socialDiv{
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-top: 20px
}
.socialLink{
    width:30px;
    height:30px;
    border-radius:100% ;
    background-color: #407BFF;
    opacity: .4;
}
.suscribeText{
    font-size: 20px;
}
.suscribeButton{
    padding: 2px 10px;
    color:rgb(5, 5, 150);
    outline: none;
    border: none;
    font-weight: 500;
      font-family: 'Montserrat', sans-serif;
}


.twoOfThree{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottleText {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    font-size: 1rem;
    overflow: visible;
    position: absolute;
}


.bottleText {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--lightblue);
    border-radius: 50%;
}


.threeOfThree {
   
    gap: 1rem;
    }

    .threeOfThree{
        font-weight: lighter;  
        font-size: 1rem ;
        margin-top: 1rem;
        transition: .5s linear;
    }
    
.threeOfThree {
    color: var(--lightblue);
}

.redTextBackground{
    width: 100vw;
    padding: 45px 30px;
    text-align: center;
    background: #FFD2DD;
    opacity: .7;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.redBackgroundText{
    font-size: 15px;
    width:700px;
    text-align: center;
    font-weight: 300;
}
.sections{
    display: flex;
    font-size: .7rem;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
}


.imgDiv{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: var(--blue);
    margin-bottom: 15px;
    border: 3px dashed var(--blue);
    padding: 20px;
}

.title{
    color: var(--lightblue);
    font-weight: bolder
}

.obj{
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-top: 3rem;
   font-family: 'Montserrat', sans-serif;
     margin-top: 40px;
}

.objContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.sectionHolder{
    width: 100%;
    display: flex;
    padding: 0 50px;
    justify-content: space-around;
    align-items: center;
    
}

.founderDiv{
    width: 100%;
    text-align: center;
  font-family: 'Montserrat', sans-serif;
    margin-bottom: 3rem;
}
.greyBoxContainer{
    width: 100%;
    justify-content: center;
    display: flex;
}
.bottom{
    display: flex;
    justify-content:space-between;
}
.flex1{
    display:flex;
    justify-content:space-between;
}
.footerBottomLink{
    list-style: none;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.flex2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.beamLogo{
    padding-left: 20px;
}
.poweredBy{
    padding-right: 10px;
    margin-right: 10px;
}