@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Montserrat:wght@200;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  background-color: #2e3192;
  padding: 20px 40px;
  font-family: "Montserrat", sans-serif;
  z-index: 30;
  height: 90px;
}


.whiteBck {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px 40px;
  font-family: "Montserrat", sans-serif;
  z-index: 30;
  align-items: center;
}
.container {
  height: 90vh;
}
.logoDiv {
  width: 200px;
  /* height: 150px; */
}
.menuButton {
  display: none;
}
.logo {
  width: 100%;
  height: 100%;
}
.nav {
  display: flex;
  justify-content: space-around;
  width: 700px;
}
.navBlue {
  display: flex;
  justify-content: space-around;
  width: 900px;
  padding: 10px 50px;
  /* align-items: center; */
}
.navTab {
  display: none;
}
.navLink {
  list-style: none;
  padding: 0 15px;
  color: #fff;
}
.navLink:hover {
  color: #407bff;
}

.navLinkBlue {
  color: #407bff;
  list-style: none;
}
.link {
  color: #fff;
  z-index: 100;
}
.link:hover {
  color: #407bff;
}
.navButton {
  background-color: #407bff;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.hero {
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  position: relative;
}
.background {
  display: none;
}
.heroDescription {
  position: absolute;
  top: 80px;
  z-index: 100;
}
.heroText {
  color: #fff;
  font-size: 65px;
  font-family: "Montserrat", sans-serif;
  margin-top: 80px;
  margin-left: 50px;
  z-index: 20;
  font-weight: 900;
}
.heroTextBlue {
  color: #407bff;
}
.heroParagraph {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 23px;
  width: 800px;
  padding-left: 15px;
  z-index: 100px;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.heroTextSub {
  margin-left: 50px;
  display: flex;
  align-items: center;
  z-index: 20;
  font-size: 45px;
}
.whoWeAreImageDiv {
  position: relative;
  /* margin-top: 500px; */
}
.overlapImages {
  position: absolute;
  bottom: -50px;
  left: 10%;
}
.redBar {
  background-color: #da1c5c;
  height: 80px;
  width: 10px;
}
.subHero {
  background-color: #fff;
  width: 60vw;
  padding: 20px;
  z-index: 10;
  padding: 15px 0;
  position: absolute;
  left: 20;
  right: 20;
}
.divImage {
  width: 300px;
  /* height: 600px; */
  flex: 0.6;
}
.mainHeading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 900;
  margin-top: 200px;
}
.flexDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin-top: 60px;
  align-items: center;
  padding: 0 80px;
}
.textDiv {
  flex: 0.7;
}
.subHeading {
  color: #2e3192;
  text-transform: uppercase;
}
.btnDiv {
  background-color: #2e3192;
  color: #fff;
  width: 120px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.programme {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.backgroundHeading {
  background-color: #2e3192;
  margin-top: 40px;
  margin: 40px 20px 40px;
  display: flex;
  padding: 0 80px;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.headingBtn {
  border: 1px solid #fff;
  padding: 7px 15px;
  margin-top: 10px;
}
.sectionImageDiv {
  padding: 40px 70px;
  position: relative;
  margin: 20px 0;
}
.sectionImage {
  max-width: 700px;
}

.testimonyImage {
  position: relative;
}
.overlap {
  background-color: #ffd2dd;
  max-width: 400px;
  font-family: "Cinzel", serif;
  color: black;
  padding: 10px 10px;
  position: absolute;
  top: 60px;
  right: 110px;
}
.overlapTextDiv {
  font-family: "Montserrat", sans-serif;
  padding: 30px 10px;
  /* border-top: 1px solid white; */
  border-bottom: 1px solid white;
  margin: 0 30px;
}
.whiteColor {
  color: black;
  font-size: 20px;
}
.sectionImage {
  width: 80%;
  height: 60%;
}
.headingText {
  text-transform: uppercase;
  /* padding: 30px; */
}
.listOverlap {
  display: flex;
  align-items: center;
}
.overlapHeading {
  text-transform: uppercase;
  color: white;
  width: 300px;
  padding: 40px;
  width: 350px;
}
.overlapList {
  display: flex;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
}
.overlapButton {
  background-color: white;
  border: none;
  outline: none;
  margin: 30px;
  padding: 15px;
  color: black;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}
.testimony {
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonyBox {
  position: absolute;
  top: 70px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  /* width: 80% */
}

.testimonyBox h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  /* margin-top: 20px; */
  font-size: 30px;
}
.headingText {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 40px;
}
.testimonyText {
  background-color: white;
  padding: 30px 30px;
  width: 80%;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 30px;
}
.testimonyImageDiv {
  display: flex;
  width: 80%;
  justify-content: flex-start;
}
.testimonyPerson {
  align-self: flex-start;
  display: flex;
  justify-self: flex-start;
}
.contact {
  padding: 70px;
  margin-top: 50px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  color: white;
}

.form h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}
.form {
  position: absolute;
  top: 120px;
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bigHeading {
  font-size: 45px;
  font-weight: 800;
  color: white;
  text-align: center;
  margin-top: 40px;
}
.formText {
  /* font-size: 35px; */
  font-weight: 300;
  color: white;
  text-align: center;
  margin-top: -10px;
}
.formDiv {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.label {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 300;
}
.input {
  width: 500px;
  height: 50px;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  padding-left: 10px;
  outline: none;
  border: 1px solid #ccc;
}
.redColor {
  color: red;
}
.formBtnDiv {
  display: flex;
  justify-content: flex-start;
  width: 64%;
  margin-top: 15px;
}
.formBtn {
  background-color: #407bff;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
  align-self: flex-start;
  font-family: "Montserrat", sans-serif;
  margin-left: 120px;
}
.alumni {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.alumniHeading {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-bottom: 20px 0;
}
.alumniImage {
  width: 100%;
  /* margin-left: -30px; */
  position: absolute;
  right: 20px;
}
.alumniTextTop {
  width: 70%;
  font-weight: 300;
  text-align: center;
}
.alumniTextBottom {
  width: 70%;
  font-weight: 300;
  text-align: center;
}
.alumniButtonDiv {
  margin-top: 30px;
}
.alumniButton {
  background-color: #407bff;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  /* margin-top:80px; */
}
@media only screen and (max-width: 800px) and (min-width: 650px) {
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #2e3192;
    padding: 20px 15px;
    font-family: "Montserrat", sans-serif;
    z-index: 30;
    height: 120px;
  }
  .logoDiv {
    /* margin-bottom: -50px; */
  }
  .menuButton {
    display: none;
  }
  .navButton {
    background-color: #407bff;
    color: #fff;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    grid-column: 1;
  }
  .nav {
    position: absolute;
    top: 65px;
  }
  .flexDiv {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin-top: 60px;
    align-items: center;
  }
  .btnDiv {
    background-color: #2e3192;
    color: #fff;
    width: 120px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .textDiv {
    padding: 0 50px;
  }
  .divImage {
    width: 100%;
  }
  .heroText {
    color: #fff;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    margin-top: 80px;
    margin-left: 50px;
    z-index: 20;
    font-weight: bolder;
  }
  .subHeading {
    margin-top: 80px;
    /* color: black; */
  }
  .hero {
    background-image: url("./../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  .heroDescription {
    top: 10px;
  }
  .whoWeAre {
    margin-top: -150px;
  }
  .testimony {
    margin-top: 50px;
    position: relative;
    margin-bottom: 50px;
  }
  .testimonyBox {
    position: absolute;
    top: 0;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* width: 80% */
  }
  .headingText {
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 20px;
  }
  .testimonyText {
    background-color: white;
    padding: 15px 15px;
    width: 80%;
    margin-top: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }
  .testimonyImageDiv {
    display: flex;
    width: 80%;
    justify-content: flex-start;
  }
  .testimonyPerson {
    align-self: flex-start;
    display: flex;
    justify-self: flex-start;
  }
  .contact {
    margin-top: 150px;
  }
  .form {
    position: absolute;
    top: 30px;
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .bigHeading {
    font-size: 35px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: 40px;
  }
  .formText {
    font-size: 15px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: -20px;
  }
  .formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .label {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 300;
  }
  .input {
    width: 70%;
    height: 35px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding-left: 10px;
  }
  .redColor {
    color: red;
  }
  .formBtnDiv {
    display: flex;
    justify-content: flex-start;
    width: 64%;
    margin-top: 10px;
  }
  .formBtn {
    background-color: #407bff;
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    align-self: flex-start;
    font-family: "Montserrat", sans-serif;
  }
  .alumni {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    position: relative;
  }
  .alumniHeading {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-bottom: 20px 0;
  }
  .alumniImage {
    width: 100%;
    /* margin-left: -30px; */
    position: absolute;
    right: 20px;
  }
  .alumniTextTop {
    position: absolute;
    top: 90px;
    width: 70%;
    font-weight: 300;
    text-align: center;
  }
  .alumniTextBottom {
    position: absolute;
    bottom: 70px;
    width: 70%;
    font-weight: 300;
    text-align: center;
  }
  .alumniButtonDiv {
    margin-top: 20px;
  }
  .alumniButton {
    background-color: #407bff;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    /* margin-top:80px; */
  }
}
@media only screen and (max-width: 650px) {
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #2e3192;
    padding: 15px 10px;
    font-family: "Montserrat", sans-serif;
    z-index: 30;
    width: 100vw;
    height: 65px;
  }
  .logoDiv {
    /* margin-bottom: -50px; */
  }
  .navButton {
    display: none;
  }
  .menuButton {
    display: flex;
  }
  .nav {
    display: none;
  }

  .heroText {
    color: #fff;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    margin-top: 80px;
    margin-left: 20px;
    z-index: 20;
    font-weight: bolder;
  }
  .hero {
    height: 300px;
    background: #2e3192;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .background {
    display: none;
    width: 0;
    height: 0;
  }
  .containerHero {
    display: none;
  }
  .subHeading {
    margin-top: 80px;
    /* color: black; */
  }
  .heroDescription {
    top: -10px;
  }
  .heroTextBlue {
    color: #407bff;
  }
  .heroParagraph {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 10px;
    width: 300px;
    padding-left: 10px;
  }
  .overlay {
    display: none;
  }
  .heroTextSub {
    margin-left: 20px;
    display: flex;
    align-items: center;
    z-index: 20;
  }
  .whoWeAre {
    padding: 10px 10px;
    margin-top: -170px;
    width: 100vw;
  }
  .mainHeading {
    font-size: 25px;
  }
  .flexDiv {
    padding: 0 10px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: -5px;
  }
  .textDiv {
    margin-top: 0px;
  }
  .divImageMain {
    height: 100px;
  }
  .overlapImages {
    display: none;
  }
  .redBar {
    background-color: #da1c5c;
    height: 40px;
    width: 10px;
  }
  .subHero {
    background-color: #fff;
    width: 60vw;
    padding: 20px;
    z-index: 10;
    padding: 15px 0;
    position: absolute;
    left: 20;
    right: 20;
  }

  .overlapImages {
    display: none;
  }

  .heroSubText {
    font-size: 10px;
  }
  .btnDiv {
    background-color: #2e3192;
    color: #fff;
    width: 120px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .programme {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin: 0;
  }
  .backgroundHeading {
    background-color: #2e3192;
    margin: 20px 0px 40px;
    display: flex;
    padding: 0 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Montserrat", sans-serif;
  }

  .subHeading {
    text-align: center;
  }

  .backgroundHeading h3 {
    text-align: center;
  }
  .headingBtn {
    border: 1px solid #fff;
    padding: 7px 15px;
    margin-top: 10px;
  }
  .sectionImageDiv {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 0;
  }
  .sectionImage {
    display: none;
  }

  .testimonyImage {
    position: relative;
  }
  .overlap {
    background-color: #ffd2dd;
    width: 100vw;
    font-family: "Cinzel", serif;
    color: black;
    padding: 5px;
    position: unset;
  }
  .overlapTextDiv {
    font-family: "Montserrat", sans-serif;
    padding: 30px 10px;
    /* border-top: 1px solid white; */
    border-bottom: 1px solid white;
    margin: 0 30px;
  }
  .whiteColor {
    color: black;
    font-size: 20px;
  }
  .sectionImage {
    width: 80%;
    height: 60%;
  }
  .headingText {
    text-transform: uppercase;
    /* padding: 30px; */
  }
  .listOverlap {
    display: flex;
    align-items: center;
  }
  .overlapHeading {
    text-transform: uppercase;
    color: white;
    width: 300px;
    padding: 40px;
    width: 350px;
  }
  .overlapList {
    display: flex;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
  }
  .overlapButton {
    background-color: white;
    border: none;
    outline: none;
    margin: 30px;
    padding: 15px;
    color: black;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
  }
  .testimony {
    margin: 50px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonyBox {
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonyBox h3 {
    color: white;
    font-family: "Montserrat", sans-serif;
  }

  .headingText {
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 40px;
  }
  .testimonyText {
    background-color: white;
    padding: 10px;
    width: 80%;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
  }
  .testimonyImageDiv {
    display: flex;
    width: 40px;
    justify-content: flex-start;
    margin-top: -30px;
  }
  .testimonyPerson {
    align-self: flex-start;
    display: flex;
    justify-self: flex-start;
    width: 40px;
  }
  .contact {
    padding: 30px;
    margin: 50px 0 0;
    position: relative;
    font-family: "Montserrat", sans-serif;
    /* width: 100%; */
    display: flex;
    margin-left: 0;
  }
  .form {
    position: unset;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-left: 0;
  }

  .form h2 {
    color: black;
    font-size: 25px;
  }

  .form p {
    color: black;
  }

  .hide {
    display: none;
  }
  .contactImage {
    display: none;
  }
  .bigHeading {
    font-size: 25px;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-top: 40px;
  }
  .formText {
    font-size: 14px;
    font-weight: 300;
    color: white;
    text-align: center;
  }
  .formDiv {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 0;
  }
  .label {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: 300;
  }
  .input {
    width: 84vw;
    height: 50px;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    padding-left: 10px;
    outline: none;
    border: 1px solid #ccc;
  }
  .redColor {
    color: red;
  }
  .formBtnDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
  }
  .formBtn {
    background-color: #407bff;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    align-self: flex-start;
    font-family: "Montserrat", sans-serif;
    margin-left: 0;
    padding: 0;
  }
  .navBlue {
    display: none;
  }
  .menu {
    /* background-color: white; */
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
    margin-top: 5px;
  }
  .menuWhite {
    /* background-color: white; */
    color: black;
    font-size: 25px;
    margin-right: 10px;
    margin-top: 5px;
  }
  .mobileShown {
    height: 400px;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    width: 70%;
    right: 10px;
    top: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .topNavDiv {
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
  }
  .topNavLinks {
    display: flex;
    flex-direction: column;
  }
  .mobileLink {
    padding: 20px 20px;
    border-bottom: 1px solid #ccc;
  }
  .alumni {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    position: relative;
  }

  .alumniHeading {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin-bottom: 10px 0;
    text-align: center;
  }
  .alumniImage {
    width: 100%;
    /* margin-left: -30px; */
    position: absolute;
    right: 20px;
  }
  .alumniTextTop {
    width: 70%;
    font-weight: 300;
    text-align: center;
  }
  .alumniTextBottom {
    width: 70%;
    font-weight: 300;
    text-align: center;
  }
  .alumniButtonDiv {
    margin-top: 30px;
  }
  .alumniButton {
    background-color: #407bff;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    /* margin-top:80px; */
  }
}
